<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin-left: 5%;padding-top: 5%;">
  <div *ngFor="let items of notes" class="cardcontaint" fxLayoutGap="20px">
    <mat-card class="matCard" [ngStyle]="{'background-color': items.colorCode}">
      <div fxLayout="row" fxLayoutAlign="end start" style="height: 30px;">
        <button mat-icon-button>
          <img src="../../../assets/unpin.svg" matTooltip="Pin" mat-button style="height: 20px;width: 20px;">
        </button>
      </div>
      <div class="card">
        <div class="title">{{ items.title }}</div>
        <div class="description" >{{ items.description }}</div>
      </div>

      <div class="icon" fxLayout="row" fxLayoutAlign="center end">
        <app-icon [noteData]="items"></app-icon>
      </div>
    </mat-card>
  </div>
</div>