.headertwo{
    color: brown;
}
.matCard{
    width: 50%;
    // height: 700px;
    padding-top: 0%
}
.input-style{
    width: 100%;
}
.matCardTitle{
    width:350%;
}
.matCardSubTitle{
    width:350%;
}