<div style="overflow: hidden;margin-left: -26px;" class="main">
  <div style="margin-left: 15px;">
    <mat-toolbar>

      <!-- <mat-toolbar-row> -->
      <div fxLayout="row" fxLayoutAlign="start start">
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon matTooltip="Main menu">menu</mat-icon>
          </button>
        </div>

        <div>
          <img src="https://www.google.com/images/icons/product/keep-512.png" alt="FundooNotes Logo"
            style="width:40px;height:40px">
        </div>

        <div fxHide.xs>
          <h3 style="padding-top: 3%;">FundooNotes</h3>
        </div>
      </div>

      <div fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search"
          style="margin-left: 15%;width: 200%;">
          <button mat-icon-button class="search-button">
            <mat-icon matTooltip="Search">search</mat-icon>
          </button>
          <input fxFlex="90" matInput placeholder="Search" [style.fontSize.px]="16"
            (input)="onSearchChange($event.target.value)" class="search-window" autocomplete="off" />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 20%;margin-left: 3%;">
        <div fxFlex="20">
          <button mat-icon-button color="basic" (click)="refresh()" id="refresh" matTooltip="Refresh">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <div fxFlex="20">
          <button mat-icon-button matTooltip="list view">
            <mat-icon style="font-size:25px">list</mat-icon>
            <!-- <mat-icon style="font-size:25px">grid_on</mat-icon> -->
          </button>
        </div>
        <div fxFlex="20">
          <button mat-icon-button [matMenuTriggerFor]="accountmenu" matTooltip={{email}}>
            <img mat-card-avatar src="http://localhost:8080/user/getuploadedimage/{{token}}" />
          </button>
        </div>
      </div>
      <!-- </mat-toolbar-row> -->
    </mat-toolbar>

    <mat-menu #accountmenu="matMenu">
      <mat-card style="height: 120px;width: 245px;">
        <div fxLayout="row">

          <button mat-button (click)=profileDialog()>
            <img mat-card-avatar src="http://localhost:8080/user/getuploadedimage/{{token}}" />
          </button>


        </div>
        <span> {{name}} </span>
        <br>
        <span> {{email}} </span>
        <mat-divider></mat-divider>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <button routerLink="/register" routerLinkActive="active" fxLayoutAlign="start center" mat-raised-button>Add
              Account</button>
          </div>
          <div>
            <button (click)="logout()" fxLayoutAlign="end center" mat-raised-button>Log Out</button>
          </div>
        </div>
      </mat-card>
    </mat-menu>
  </div>

  <mat-divider></mat-divider>


  <mat-sidenav-container class="example-container">
    <mat-sidenav style="width:18%;padding: 2%;" #sidenav mode="side" fixedTopGap="56">
      <mat-nav-list class="navlist">
        <mat-list>

          <div>
            <button mat-button [routerLink]="['note']">
              <mat-icon>lightbulb_outline</mat-icon> Notes
            </button>
          </div>

          <div>
            <button mat-button [routerLink]="['ramainder']">
              <mat-icon>notifications_none</mat-icon> Remainder
            </button>
          </div>
          <hr>
          <mat-divider></mat-divider>
          <div style="padding-left:15%;">
            <h5>LABELS</h5>
          </div>
          <div>
            <div *ngFor="let items of allLabels" fxLayout="row">
              <button mat-button>
                <img src="../../../assets/arrow.svg" style="height: 20px;width: 20px;">
              </button>
              <div>{{ items.labelName }}</div>
            </div>
            <button mat-button (click)=openDialogLabel()>
              <mat-icon>edit</mat-icon> Edit Labels
            </button>
          </div>
          <mat-divider></mat-divider>
          <hr>
          <div>
            <button mat-button [routerLink]="['archive']">
              <mat-icon>archive</mat-icon> Archive
            </button>
          </div>
          <div>
            <button mat-button [routerLink]="['trash']">
              <mat-icon>delete</mat-icon> Trash
            </button>
          </div>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav">

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>