.sidenav
{
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin-left: 180px;
}
.search{
    background-color: floralwhite;
    border-radius: 1%;
}
.example-container{
    position:fixed;
}