<div class = "main">
  <mat-toolbar class = "tool-bar" >
    <div>
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <img src="https://www.google.com/images/icons/product/keep-512.png" alt="FundooNotes Logo" style="width:45px;height:45px">
    </div>
    <div class = "title">
      <h1>FundooNotes</h1>
    </div>
    <div>
      <mat-form-field appearance="outline" fxLayoutAlign = "center" class="search" style="margin-top:10pt;margin-bottom:10pt;" class="search">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <mat-label>Search</mat-label>
        <input type="text" matInput placeholder="Search">
      </mat-form-field>
    </div>
  </mat-toolbar>

</div>