<div class = "main" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class = "matCard">
      <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
        <h2 class = "headertwo">FundooNotes</h2>
      </mat-card-title>
      <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
        <h2>Login</h2>
      </mat-card-subtitle>
      <div>
        <form [formGroup]="loginForm">
            <div>
              <mat-form-field appearance="outline" class="input-style">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="user.email" required>
                <mat-icon matSuffix> email</mat-icon>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline" class="input-style">
                <mat-label>Password</mat-label>
                <input type="password" matInput placeholder="Enter your password" [type]="!hide ? 'password' : 'text'" formControlName="password" [(ngModel)]="user.password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </div>
            <div class="buttonRegister">
              <button mat-raised-button color="primary" id="login" (click)="onLogin()">Login</button>
              <button mat-raised-button color="primary" id="forgot" routerLink='/forgotpassword'> Forgot Password </button>
            </div>
        </form>

      </div>
  </mat-card>


</div>
