<div class="main">
  <div>
    <app-add-note></app-add-note>
  </div>
  <h6 style="margin-left: 20%">PINNED</h6>
  <div>
    <app-pin></app-pin>
  </div>

  <h6 style="margin-left: 20%">OTHERS</h6>
  <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin-left: 5%">
    <div *ngFor="let items of unpinned" class="cardcontaint" fxLayoutGap="20px">
      <mat-card class="matCard">
        <div fxLayout="row" fxLayoutAlign="end start">
          <button mat-icon-button (click)=pin(items)>
            <img src="../../../assets/unpin.svg" matTooltip="Pin" mat-button style="height: 20px;width: 20px;">
          </button>
        </div>
        <div class="card">
          <div class="title" (click)="openDialog(items)">{{ items.title }}</div>
          <div class="description" (click)="openDialog(items)">{{ items.description }}</div>
        </div>

        <div class="icon" fxLayout="row" fxLayoutAlign="center end">
          <app-icon [noteData]="items"></app-icon>
        </div>
      </mat-card>
    </div>
  </div>
</div>