.cardcontaint{
    padding-top: 1%;
}

.matCard{
    min-height: 75px;
    width: 210px;
    border-radius: 20px
}

.title{
    letter-spacing: .00625em;
    word-wrap: break-word;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.description{
    letter-spacing: .00625em;
    word-wrap: break-word;
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}
mat-card:hover{
    .icon{
        visibility: visible;
    }
}

.icon{
    visibility: hidden;
}