.searchCard{
    width: 700px;
    background-color: rgb(252, 248, 248);
    height: 25px;
    box-shadow: 0px 8px 8px 0 rgba(97, 94, 94, 0.459);
    margin-top: 20px;
}
.searchMatCard{
    width: 700px;
    background-color: rgb(252, 248, 248);
    min-height: 130px;
    box-shadow: 0px 8px 8px 0 rgba(97, 94, 94, 0.459);
    margin-top: 20px;
}
.main{
    display: flex;
}