<div class = "main" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class = "matCard">
    <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
      <h2 class = "headertwo">FundooNotes</h2>
    </mat-card-title>
    <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
      <h2>Reset password</h2>
    </mat-card-subtitle>
    <div>
      <form [formGroup]="resetpasswordForm">
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter your new password" formControlName="newPassword" [type]="!hide ? 'password' : 'text'" [(ngModel)]="password.newPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Confirm your password" formControlName="confirmPassword" [type]="!hide ? 'password' : 'text'" [(ngModel)]="password.confirmPassword" required>
            <mat-icon matSuffix (click)="hide = !hide">{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="onReset()" fxLayoutAlign="center center">Reset</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>