<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin-left: 5%">
  <div *ngFor="let items of notes" class="cardcontaint" fxLayoutGap="20px">
    <div>
      <mat-card class="matCard"  [ngStyle]="{'background-color': items.colorCode}">
        <div fxLayout="row" fxLayoutAlign="end start" style="height: 30px;">
          <button mat-icon-button (click)=unpin(items)>
            <img src="../../../assets/pin.svg" matTooltip="Unpin" mat-button style="height: 20px;width: 20px;">
          </button>
        </div>
        <div class="card">
          <div class="title" (click)="openDialog(items)">{{ items.title }}</div>
          <div class="description" (click)="openDialog(items)">{{ items.description }}</div>
        </div>
        <div class="icon" fxLayout="row" fxLayoutAlign="center end">
          <app-icon [noteData]="items"></app-icon>
        </div>
      </mat-card>
    </div>
  </div>
</div>