.matCard{
  
    width: 35%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 02%;
    box-shadow: 0 8px 16px 0 rgba(182, 33, 33, 0.459);
  }
  .input-style{
     width:100%;
  }
  