<div class = "main" fxLayout="column" fxLayoutAlign="center center" >
  <mat-card class = "matCard">
    <mat-card-title class="matCardTitle" fxLayoutAlign="center center">
      <h2 class = "headertwo">FundooNotes</h2>
    </mat-card-title>
    <mat-card-subtitle class = "matCardSubTitle" fxLayoutAlign="center center">
      <h2>Forgot password</h2>
    </mat-card-subtitle>
    <div>
      <form [formGroup]="forgotpasswordForm">
        <div>
          <mat-form-field appearance="outline" class="input-style">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Enter your email" formControlName="email" [(ngModel)]="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <mat-icon matSuffix> email</mat-icon>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="center center">
          <button mat-raised-button color="primary" id="submit" (click)="onSubmit()" fxLayoutAlign="center center">Submit</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>