<div>
  <div fxLayout="row wrap" style="visibility: visible">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let items of labelsOfNotes">
        {{ items.labelName }}
        <mat-icon (click)="removeLabelFromNote(items)">cancel</mat-icon>
      </mat-chip>
      
    </mat-chip-list>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start">

  <button mat-icon-button>
    <img src="../../../assets/RemindMe.svg" matTooltip="Remind Me" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/Collaborator.svg" matTooltip="Collaborator" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/color.svg" matTooltip="Color" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/image.svg" matTooltip="Image" mat-button style="height: 20px;width: 20px;">
  </button>

  <button mat-icon-button (click)=archive()>
    <img src="../../../assets/archieve.svg" matTooltip="Archieve" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/more.svg" matTooltip="More" mat-button [matMenuTriggerFor]="moreBtn"
      style="height: 20px;width: 20px;">
  </button>


  <mat-menu #moreBtn="matMenu">
    <div fxLayout="column">
      <button mat-button (click)=trash()>Delete Note</button>
      <button mat-button [matMenuTriggerFor]="label" (click)="$event.stopPropagation()">Add Label</button>
      <button mat-button>Add Drawing</button>
      <button mat-button>Restore</button>
    </div>
  </mat-menu>

  <div>
    <mat-menu #label="matMenu">
      <div fxLayout="column">
        <div>Label note</div>
        <div *ngFor="let label of allLabels">
          <mat-checkbox (click)="addLabelToNote(label)">{{label.labelName}}</mat-checkbox>
        </div>
      </div>
    </mat-menu>
  </div>
</div>