<div fxLayout="row" fxLayoutAlign="space-between start">
  <button mat-icon-button>
    <img src="../../../assets/RemindMe.svg" matTooltip="Remind Me" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/Collaborator.svg" matTooltip="Collaborator" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/color.svg" matTooltip="Color" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/image.svg" matTooltip="Image" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/archieve.svg" matTooltip="Archieve" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/more.svg" matTooltip="More" mat-button [matMenuTriggerFor]="moreBtn"
      style="height: 20px;width: 20px;">
  </button>
  <mat-menu #moreBtn="matMenu">
    <div>
      <div><button mat-button>Delete Note</button></div>
      <div><button mat-button>Add Lebel</button></div>
      <div><button mat-button>Add Drawing</button></div>
      <div><button mat-button>Restore</button></div>
    </div>
  </mat-menu>
</div>