<div fxLayout="row" fxLayoutAlign="space-between start">
  <button mat-icon-button>
    <img src="../../../assets/RemindMe.svg" matTooltip="Remind Me" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/Collaborator.svg" matTooltip="Collaborator" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/color.svg" matTooltip="Color" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/image.svg" matTooltip="Image" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/archieve.svg" matTooltip="Archieve" mat-button style="height: 20px;width: 20px;">
  </button>
  <button mat-icon-button>
    <img src="../../../assets/more.svg" matTooltip="More" mat-button style="height: 20px;width: 20px;">
  </button>
</div>